USE [ABCCompany]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 13/03/2024 09:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [nvarchar](10) NOT NULL,
	[MaVT] [nvarchar](5) NOT NULL,
	[SL] [int] NULL,
	[KhuyenMai] [int] NULL,
	[GiaBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 13/03/2024 09:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [nvarchar](10) NOT NULL,
	[Ngay] [datetime] NULL,
	[MaKH] [nvarchar](5) NULL,
	[TongTG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 13/03/2024 09:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](5) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
	[DT] [nvarchar](10) NULL,
	[Email] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VATTU]    Script Date: 13/03/2024 09:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VATTU](
	[MaVT] [nvarchar](5) NOT NULL,
	[TenVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](20) NULL,
	[GiaMua] [int] NULL,
	[SLTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaVT], [SL], [KhuyenMai], [GiaBan]) VALUES (N'HD001', N'VT01', 5, NULL, 52000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaVT], [SL], [KhuyenMai], [GiaBan]) VALUES (N'HD001', N'VT05', 10, NULL, 30000)
INSERT [dbo].[CHITIETHOADON] ([MaHD], [MaVT], [SL], [KhuyenMai], [GiaBan]) VALUES (N'HD002', N'VT03', 10000, NULL, 150)
GO
INSERT [dbo].[HOADON] ([MaHD], [Ngay], [MaKH], [TongTG]) VALUES (N'HD001', CAST(N'2000-05-12T00:00:00.000' AS DateTime), N'KH01', 560000)
INSERT [dbo].[HOADON] ([MaHD], [Ngay], [MaKH], [TongTG]) VALUES (N'HD002', CAST(N'2000-05-25T00:00:00.000' AS DateTime), N'KH02', 1500000)
INSERT [dbo].[HOADON] ([MaHD], [Ngay], [MaKH], [TongTG]) VALUES (N'HD003', CAST(N'2000-05-25T00:00:00.000' AS DateTime), N'KH01', 1100000)
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [DT], [Email]) VALUES (N'KH01', N'NGUYEN THI BE', N'SANTIAGO', N'8457895', N'bnt@yahoo.com')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [DT], [Email]) VALUES (N'KH02', N'LE HOANG NAM', N'BINH CHANH', N'9878987', N'namlehoang @abc.com.vn')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [DT], [Email]) VALUES (N'KH03', N'TRAN THI CHIEU', N'TAN BINH', N'8457895', NULL)
GO
INSERT [dbo].[VATTU] ([MaVT], [TenVT], [DVT], [GiaMua], [SLTon]) VALUES (N'VT01', N'XI MANG', N'BAO', 50000, 5000)
INSERT [dbo].[VATTU] ([MaVT], [TenVT], [DVT], [GiaMua], [SLTon]) VALUES (N'VT02', N'CAT', N'KHOI', 45000, 50000)
INSERT [dbo].[VATTU] ([MaVT], [TenVT], [DVT], [GiaMua], [SLTon]) VALUES (N'VT03', N'GACH ONG', N'VIEN', 120, 800000)
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MaVT])
REFERENCES [dbo].[VATTU] ([MaVT])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD CHECK  (([Ngay]<getdate()))
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD CHECK  (([GiaMua]>(0)))
GO
ALTER TABLE [dbo].[VATTU]  WITH CHECK ADD CHECK  (([SLTon]>=(0)))
GO
